<h3 align="center" class="job-board-style">Job Board</h3>

<hr>

<% @jobs.each do |job| %>
    <div class="row">
     <div class="col-xs-8 col-xs-offset-2">
      <div class="well well-lg">
      <div class="job-title">
      <%= link_to job.title, job_path(job) %>
      </div>
        <div class="job-body">
         <%= truncate(job.description, length: 20) %>
      </div>
      
       <div class="job-actions">
         <%= link_to 'Quick Apply', edit_job_path(job), class:"btn btn-xs btn-primary" %>
    </div>   
  </div>
 </div>
</div>
<% end %>
