<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="#">Ruby On Rails</a>
            by <%= link_to 'Amro Srour', about_path %>
        </small>
    </footer>
</div>